@charset "UTF-8";

/*===================== header 공통 ====================*/
.main-header {position:fixed; left:0; top:0; width:100%; height:90px; backdrop-filter:blur(30px); border-bottom:1px solid #eee;}
nav a {text-decoration:none;}
.main-menu {
	display:flex; justify-content:center; align-items:center;
	width:560px; height:58px; border-radius:30px;
	box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.05);
}
.main-menu li {margin: 0 20px;}
.main-menu li a {font-weight:300; font-size:24px;}
.main-menu a:hover {font-weight:500;}
.user-menu a {border-radius: 30px; box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.05); padding:18px 30px; font-size:20px; margin-left: 20px;}
/*==================== 중앙 정렬 컨텐츠 공통 ====================*/
.center-text {text-align: center; font-size: 20px; font-weight: 500;}

/*==================== footer 공통 ====================*/
footer {background:#0073FF; color:#fff;}
.footer-wrap {padding:40px 0;}
.footer-nav a {margin-right:36px; color:#fff;text-decoration:none;}
.footer-nav a:hover {text-decoration:underline;}
.footer-wrap ul{display:flex; justify-content: space-between;}


/*==================== FHD ====================*/
@media screen and (min-width:1441px) {
	html {font-size:100%;}
	.phone-user-menu {display:none;}
	
	#trigger {display:none;}
	
	nav, .wrap, .footer-wrap {width:1312px; margin:0 auto;}
	nav {
	   display:flex; justify-content:space-between; align-items:center;
	   height:100%;
	}
	
	.main-menu, .user-menu {display:flex;}
	.main-menu {
	   position:absolute;  left: 50%;  top:52%;
	   transform:translate(-50%, -50%);
	   background: #fff;
	}
   
	.content-header .title{font-size: 46px;}
	.wrap {padding: 150px 0 150px;min-height:100vh;}
	.content-header {padding: 92px 0 72px;}
	.banner a {border-radius: inherit;}
	.banner .title {font-size: 25px;}
	
	footer {height:200px;}
	.footer-wrap {font-size:16px;}
}


/*==================== HD ====================*/
@media screen and (min-width:1025px) and (max-width:1441px) {
	html {font-size:90%;}
   .phone-user-menu {display:none;}
   
   #trigger {display:none;}
   
   nav, .content, .footer-wrap {width:952px; margin:0 auto;}
   
   nav {
      display:flex; justify-content:space-between; align-items:center;
      height:100%;
   }
   nav a {color:#333;}
   nav a:hover {text-decoration:underline;}
   
   .main-menu, .user-menu {display:flex;}
   .main-menu {
      position:absolute; left:50%; top:50%;
      transform:translate(-50%, -50%);
   }
   
   .user-menu a {border-radius:20px; padding:18px 10px; font-size:13px;}
   
   .wrap {padding: 100px 0 120px; min-height:100vh;}
   
}

/*==================== TABLET ====================*/
@media screen and (min-width:769px) and (max-width:1024px) {
	html {font-size:80%;}
   .user-menu {display:none;}
   nav, .content, .footer-wrap {width:712px; margin:0 auto;}
   
   nav {position:relative; width:100%; height:100%;}
   nav a {color:#333;}
   
   h1, #trigger, .main-menu, .phone-topmenu {position:absolute;}
   h1 {
      left:50%; top:50%;
      font-size:32px;
      transform:translate(-50%, -50%);
   }
   
   #trigger {
      left:25px; top:50%; width:34px; height:24px;
      transform:translateY(-50%);
   }
   #trigger span {
      position:absolute; left:0; height:3px;
      background:#f6f6f6; transition:all 0.4s ease-in;
   }
   #trigger span:nth-child(1) {top:0; width:100%;}
   #trigger span:nth-child(2) {top:11px; width:88%;}
   #trigger span:nth-child(3) {bottom:0; width:75%;}
   #trigger:hover span:nth-child(1) {top:0; width:75%;}
   #trigger:hover span:nth-child(2) {top:11px; width:100%; background:#fc0;}
   #trigger:hover span:nth-child(3) {bottom:0; width:75%;}
   #trigger.active span:nth-child(1) {width:95%; transform:rotate(-45deg) translate(-10px,5px);}
   #trigger.active span:nth-child(2) {opacity:0;}
   #trigger.active span:nth-child(3) {width:95%; transform:rotate(45deg) translate(-10px,-5px);}
   
   .main-menu {
      left:-1200px; top:60px; width:100%; height:100vh; padding-top:150px;
      background:#083980; opacity:0; transition:all 0.4s ease-in;
   }
   .main-menu.active {left:0; opacity:1;}
   .main-menu > li > a {
      padding:30px 0;
      font-size:36px; text-align:center;
   }
   .sub-menu {
      display:none; width:100%; padding:0 0 10px;
      background:rgba(130, 100, 5, 0.85);
   }
   .sub-menu li a {
      width:100%; padding:20px 0;
      font-size:32px; text-align:center;
   }
   
   .phone-user-menu {
      right:15px; top:50%; display:flex;
      transform:translateY(-50%);
   }
   .phone-user-menu a {
      padding:5px;
      font-size:34px; color:#f6f6f6;
   }
   .wrap {padding: 140px 0;min-height:80vh;}
   
}

/*==================== PHONE ====================*/
@media screen and (max-width:768px) {
	html {font-size:90%;}
   .user-menu {display:none;}
   
   nav {position:relative; width:100%; height:100%;}
   nav a {color:#f6f6f6;}
   h1, #trigger, .main-menu, .phone-topmenu {position:absolute;}
   h1 {
      right:15px; top:50%;
      font-size:32px; font-weight:600; text-transform:uppercase;
      transform:translateY(-45%);
   }
   
   #trigger {
      left:15px; top:50%; width:34px; height:24px;
      transform:translateY(-50%);
   }
   #trigger span {
      position:absolute; left:0; height:3px;
      background:#f6f6f6; transition:all 0.4s ease-in;
   }
   #trigger span:nth-child(1) {top:0; width:100%;}
   #trigger span:nth-child(2) {top:11px; width:88%;}
   #trigger span:nth-child(3) {bottom:0; width:75%;}
   #trigger:hover span:nth-child(1) {top:0; width:75%;}
   #trigger:hover span:nth-child(2) {top:11px; width:100%; background:#fc0;}
   #trigger:hover span:nth-child(3) {bottom:0; width:75%;}
   #trigger.active span:nth-child(1) {width:95%; transform:rotate(-45deg) translate(-10px,5px);}
   #trigger.active span:nth-child(2) {opacity:0;}
   #trigger.active span:nth-child(3) {width:95%; transform:rotate(45deg) translate(-10px,-5px);}
   
   .main-menu {
      left:-800px; top:60px; width:100%; height:100vh; padding-top:100px;
      background:#083980; opacity:0; transition:all 0.4s ease-in;
   }
   .main-menu .active {left:0; opacity:1;}
   .main-menu > li > a {
      padding:25px 0;
      font-size:32px; text-align:center;
   }
   .sub-menu {
      display:none; width:100%; padding:0 0 10px;
      background:rgba(130, 100, 5, 0.85);
   }
   .sub-menu li a {
      width:100%; padding:20px 0;
      font-size:28px; text-align:center;
   }
   
   .phone-user-menu {
      left:60px; top:50%; display:flex;
      transform:translateY(-50%);
   }
   .phone-user-menu a {
      padding:5px;
      font-size:34px; color:#f6f6f6;
   }
   
   
   .wrap {padding:50px 15px; min-height:100vh;}
   
   
   footer {text-align:center;}
   .sns li {margin:0;}
   .footer-wrap ul{flex-direction:column;}
   .sns {flex-direction:row;}
   .footer-wrap li {margin-top:10px;}
}