@charset "UTF-8";

/*========== 자주묻는 질문(list) ==========*/
#interview .ititle { 
	font-size: 24px;
    font-weight: 400;}
#interview .titbox:before {
    content: "";
    display: block;
    background-color: #006edb;
    width: 9px;
  }
  #interview .titbox .ptitle {
    text-align: center;
    padding-left: 5px;
  }
  #interview .inbox li {
    border-bottom: 1px solid #ddd;
  }
  #interview .inbox li a {
    position: relative;
    display: block;
    padding: 20px 0 20px 85px;
  }
  #interview .inbox li a:before {
    content: "";
    position: absolute;
    right: 30px;
    top: 35px;
    background: url(/resources/images/Q.png) no-repeat -93px -70px;
    width: 17px;
    height: 19px;
  }
  #interview .inbox li a:after {
	content: "";
    position: absolute;
    left: 30px;
    top: 24px;
    background: url(/resources/images/Q.png) no-repeat;
    width: 35px;
    height: 35px;
  }
  #interview .inbox li a div {
    width: 90%;
    overflow: hidden;
    padding-top: 12px;
  }
  #interview .inbox li .answer {
    display: none;
    position: relative;
    margin-bottom: 20px;
    padding: 0 0 20px 85px;
  }
  #interview .inbox li .answer .text {
    padding: 20px 0 0;
  }
  #interview .inbox li .answer:after {
    content: "";
    position: absolute;
    left: 30px;
    top: 13px;
    background: url(/resources/images/A.png) no-repeat;
    width: 35px;
    height: 35px;
  }
  #interview .inbox li .answer.on {
    display: block;
  }