<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omg.mappers.emp">

	<insert id="insert">
		insert into empTbl (
			empPassword,
			empName,
			empPhone,
			empArea
		) values (
			#{empPassword},
			#{empName},
			#{empPhone},
			#{empArea}
		)
	</insert>
	
</mapper>